# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\tcs\apps\bcp-exchange-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
